@import "./tailwind.css";
@import "./fonts.css";
@import "./variables.css";
@import "./contact.css";

html,
body {
	overflow-x: hidden;
	padding: 0;
	margin: 0;
	font-family: var(--font-primary), var(--font-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-secondary);
	font-weight: bold;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

p {
	font-size: 18px;
	font-weight: 300;
}

.ht {
	&-button {
		padding: 10px 8px;
		font-size: 18px;
		border: 1px solid #000000;
		border-radius: 50px;
		transition: 0.2s all;
		font-weight: 300;
		&:not(.no-hover):hover {
			cursor: pointer;
			background: black;
			color: white;
			i {
				border: 1px solid white;
			}
		}
		i {
			width: 28px;
			height: 28px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			border: 1px solid black;
			border-radius: 50px;
		}
	}

	&-bg-blue {
		background: transparent
			linear-gradient(116deg, #0b4f84 0%, #053860 100%) 0% 0% no-repeat
			padding-box;
	}

	&-bg-pink {
		background: transparent
			linear-gradient(131deg, #ffc4c3 0%, #ffa7a4 100%) 0% 0% no-repeat
			padding-box;
	}

	&-bg-green {
		background: transparent
			linear-gradient(129deg, #6dcfa8 0%, #41af7d 100%) 0% 0% no-repeat
			padding-box;
	}

	&-banner {
		display: flex;
		flex-direction: column;
	}

	&-wrapper {
		max-width: var(--nw-max-width);
		width: 100%;
		padding-left: 32px;
		padding-right: 32px;
		margin: auto;
	}

	&-about-me {
		&__link {
			position: relative;
			&.active {
				background: white;
				&::before {
					content: "";
					position: absolute;
					left: -100%;
					top: 0;
					height: 100%;
					width: 100%;
					background: white;
				}
			}
		}

		&__content {
			position: relative;
			&::after {
				content: "";
				position: absolute;
				right: -100%;
				top: 0;
				height: 100%;
				width: 100%;
				background: white;
			}
		}
	}

	&-projects-grid {
		> div {
			@media (--min-md) {
				&:not(:nth-child(4n)) {
					border-right: 1px solid black;
					padding-right: 32px;
				}
				&:not(:nth-child(1)):not(:nth-child(5)) {
					padding-left: 32px;
				}
			}
			&::after {
				content: "";
				position: absolute;
				bottom: -80px;
				left: 0px;
				width: 101%;
				height: 1px;
				background: black;
			}
			@media (--min-xs) {
				&:nth-child(odd) {
					border-right: 1px solid black;
					padding-right: 32px;
				}
				&:nth-child(even) {
					padding-left: 32px;
				}
			}
		}
	}
}
